<nav class="flex justify-between my-3">
    <div class="levo flex items-center">
        <div><!-- ham bar --><img class="hover:cursor-pointer ml-5 w-auto h-10" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASBJREFUSEuVVdsWgCAIw///6DqR6XBDqZc6aTJ2oWZwNTO78EXluX/kNzqg2fNqXGJ9qZhD0AXMGi7g5/MZIcaWaA91nHbwLFyDrgp1E2jcHShyAIfT9DICijy8FPXWKs8TRHZoxMgdeL3Ie4Yaty5eCcbp541jvKEtU3u7RWdm/kV/bt0ikASqz97/kTbUsiN/2yF1cwFx/1YbKLYS7iLPHGRqpCoJDSIsT1iZOq5TEVkE478UA7YcdhXv6y47vRAlgS0GTcyw8lxPkkx+W8OorPd91NwgH0YKEY7RvLdd1oP1YdhFRmfCxftzGAYF0VK7XybNFPHPENJxgTQ/b+QpgKdZlNkbtSmnWhUjkYnfAxVE3fLf1kjz2Gbh0uPd7AbB56Mej0f8DwAAAABJRU5ErkJggg=="/></div>
        <div><img class="h-[3em] w-auto" src="/images/grb.png"></div>
    </div>

    <div class="desno">
        <button type="submit" class="h-[2.5em] w-[6em] rounded-md bg-red-500
        text-gray-100 font-semibold tracking-wider mr-10 text-2xl">KONTAKT</button>
    </div>
</nav>

<div class="mt-[5em] mb-[4em] relative flex content-around flex-col w-screen">
    <img class="w-inherit h-auto z-[-10]" src="/images/Group 4.png">

    <div class="absolute top-[15%] left-[15%] w-screen flex flex-col">
        <div id="subheader" class="text-[4em] text-[#DC4C5D] font-bold tracking-wider
        " >Želite da se <br> upišete?</div>
        <div id="subtext" class="text-[1.5em] text-slate-800" >Kontaktirajte nas putem mejla</div>

        <div id="emailpolje" class="flex left-[10%] mt-[5em] w-[35%] drop-shadow-md">
            <input class="pl-5 text-2xl border-[1px] border-slate-400 grow rounded-l-lg" id="email" name="email" type="text" placeholder="korisnickoime@domain.com" >
            <button type="submit" class="h-[2.5em] w-[6em] bg-red-500 hover:bg-red-600
            text-gray-100 font-semibold tracking-wider text-2xl rounded-r-lg">POŠALJI</button>
        </div>
    </div>
</div>

    <!-- TRAKA BUDJ BADJ -->

<div class="mt-[5em] mb-[5em] relative flex content-around flex-col w-screen my-[10em]">
    <img class="w-inherit h-auto z-[-10]" src="/images/crvena traka.png">

    <div class="absolute top-[15%] justify-center flex flex-col left-[37%] text-center gap-y-[2em] ">
        <div  class="text-[2.5em] text-[#ffffff] font-bold tracking-wider w-auto ">
            Ne zaboravite da pogledate raspored casova <br> za ovaj mesec :) </div>
        <button class="text-[2em] text-[#ffffff] w-auto h-[2em] border-2 rounded-md border-white" >Raspored casova</button>
    </div>
</div>


    <!-- KARTICE -->

<div class="flex w-screen h-[400px] justify-between px-10 my-[10em]">
    <div id="1" class="bg-white border-[0.5px] border-slate-200 w-[22%] rounded-xl drop-shadow-xl flex flex-col">

        <div class="h-[84%] px-[2em] pt-[1.5em] pb-[1em] flex flex-col gap-y-[1em] text-slate-800">
            <h1 class="text-4xl font-semibold">Vest 1</h1>
            <div class="text-xl" style="display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical; overflow: hidden;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</div>
        </div>
        <div id="footer" class="h-[16%] bg-red-500 rounded-b-lg flex px-[2em]">
            <p class="self-center w-full text-3xl text-white font-semibold">13. Mart</p>
        </div>
    </div>


    <div id="2" class="bg-white border-[0.5px] border-slate-200 w-[22%] rounded-xl drop-shadow-xl flex flex-col">

        <div class="h-[84%] px-[2em] pt-[1.5em] pb-[1em] flex flex-col gap-y-[1em] text-slate-800">
            <h1 class="text-4xl font-semibold">Vest 1</h1>
            <div class="text-xl" style="display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical; overflow: hidden;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</div>
        </div>
        <div id="footer" class="h-[16%] bg-red-500 rounded-b-lg flex px-[2em]">
            <p class="self-center w-full text-3xl text-white font-semibold">13. Mart</p>
        </div>
    </div>

    <div id="3" class="bg-white border-[0.5px] border-slate-200 w-[22%] rounded-xl drop-shadow-xl flex flex-col">

        <div class="h-[84%] px-[2em] pt-[1.5em] pb-[1em] flex flex-col gap-y-[1em] text-slate-800">
            <h1 class="text-4xl font-semibold">Vest 1</h1>
            <div class="text-xl" style="display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical; overflow: hidden;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</div>
        </div>
        <div id="footer" class="h-[16%] bg-red-500 rounded-b-lg flex px-[2em]">
            <p class="self-center w-full text-3xl text-white font-semibold">13. Mart</p>
        </div>
    </div>

    <div id="4" class="bg-white border-[0.5px] border-slate-200 w-[22%] rounded-xl drop-shadow-xl flex flex-col">

        <div class="h-[84%] px-[2em] pt-[1.5em] pb-[1em] flex flex-col gap-y-[1em] text-slate-800">
            <h1 class="text-4xl font-semibold">Vest 1</h1>
            <div class="text-xl" style="display: -webkit-box; -webkit-line-clamp: 7; -webkit-box-orient: vertical; overflow: hidden;">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</div>
        </div>
        <div id="footer" class="h-[16%] bg-red-500 rounded-b-lg flex px-[2em]">
            <p class="self-center w-full text-3xl text-white font-semibold">13. Mart</p>
        </div>
    </div>
</div>

    <!-- OBLACIC -->

<div class="mt-[5em] mb-[5em] relative flex w-screen">
    <img class=" w-screen h-[600px] z-[-10]" src="/images/oblacic.png">

    <div class="absolute h-[400px] w-[80%] flex w-inherit justify-between pl-[20em] pr-[5em]">
        <div  class="text-[4em] text-[#ffffff] text-left font-bold tracking-wider w-auto place-self-center">
            Pogledajte smerove <br> koje nudimo :) </div>
        <button class="text-[2em] text-[#ffffff] w-[5em] h-[5em] border-4 rounded-lg border-white place-self-center" >budj badj</button>
    </div>
</div>
