<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;" class="overflow-x-hidden">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Skola" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>

    <!--CHECH FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Sarabun&display=swap" rel="stylesheet">

    <style>
        *{
            font-family: 'Oswald', sans-serif;
        }
        /* width */
        ::-webkit-scrollbar {
          width: 10px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
          border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
          background: #dbdbdb;
          border-radius: 10px;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
          background: #bfbfbf;
}
    </style>
  </head>
  <body class="bg-white antialiased">

  <nav class="flex justify-between my-3">
    <div class="levo flex items-center gap-x-5">
        <div><!-- ham bar --><img class="hover:cursor-pointer ml-5 w-auto h-10" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAASBJREFUSEuVVdsWgCAIw///6DqR6XBDqZc6aTJ2oWZwNTO78EXluX/kNzqg2fNqXGJ9qZhD0AXMGi7g5/MZIcaWaA91nHbwLFyDrgp1E2jcHShyAIfT9DICijy8FPXWKs8TRHZoxMgdeL3Ie4Yaty5eCcbp541jvKEtU3u7RWdm/kV/bt0ikASqz97/kTbUsiN/2yF1cwFx/1YbKLYS7iLPHGRqpCoJDSIsT1iZOq5TEVkE478UA7YcdhXv6y47vRAlgS0GTcyw8lxPkkx+W8OorPd91NwgH0YKEY7RvLdd1oP1YdhFRmfCxftzGAYF0VK7XybNFPHPENJxgTQ/b+QpgKdZlNkbtSmnWhUjkYnfAxVE3fLf1kjz2Gbh0uPd7AbB56Mej0f8DwAAAABJRU5ErkJggg=="/></div>
        <a href="/"><img class="h-[3em] w-auto" src="/images/grb.png"></a>
    </div>
</nav>
    <%= @inner_content %>
  </body>
</html>
